/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "DM Sans";
  src: url("./DMSans-VariableFont_opsz,wght.ttf/");
}

:root {
  --color-neutral-100: hsl(34, 89%, 96%);
  --color-neutral-500: hsl(212, 6%, 46%);
  --color-neutral-800: hsl(210, 7%, 11%);
  --color-neutral-900: hsl(210, 11%, 7%);

  --color-green: #bee3cc;
  --color-yellow: #f6c768;
  --color-red: #ed735d;

  --font-size-heading: 2rem;
  --font-size-body: 1rem;
  --font-size-label: 0.875rem;
  --font-size-price: 0.75rem;
  --font-size-small: 0.625rem;
}

.container {
  margin-inline: auto;
  max-width: 70em;
  width: calc(100% - 1em);
}

.flex {
  align-items: center;
  display: flex;
}

.justify-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: var(--color-neutral-900);
  color: var(--color-neutral-100);
  display: flex;
  flex-direction: column;
  font-family: "DM Sans", system-ui, sans-serif;
  justify-content: center;
  margin: 0;
  min-height: 100dvh;
}

.header {
  background-image: url(./bg-cafe.jpg);
  background-size: cover;
  background-position: bottom;
  height: 20em;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.collection {
  background-color: var(--color-neutral-800);
  background-image: url(./vector.svg);
  background-repeat: no-repeat;
  background-position: top 2.5em left 65%;
  border-radius: 0.875em;
  margin-block: 10em 5em;
  margin-inline: auto;
  padding: 5em 7em;
  text-align: center;
  z-index: 1000;
}

h1 {
  font-size: var(--font-size-heading);
  font-weight: 600;
  margin-block-end: 0;
}

.collection__intro {
  color: var(--color-neutral-500);
  font-weight: 500;
  max-width: 30em;
  margin-block: 0.5em 1em;
  margin-inline: auto;
  line-height: 1.4;
}

.collection__button {
  background-color: transparent;
  border: 0;
  border-radius: 0.5em;
  color: inherit;
  cursor: pointer;
  padding: 0.5em 1em;
}

.collection__button + .collection__button {
  margin-inline-start: 1em;
}

.collection__button.selected {
  background-color: var(--color-neutral-500);
}

.collection__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  gap: 5em 2em;
  margin-block-start: 3em;
}

.collection__card {
  display: grid;
  gap: 1em;
  margin: auto;
  max-width: 19em;
  position: relative;
  width: 100%;
}

.card__img {
  border-radius: 1em;
  height: 11em;
  object-fit: cover;
  width: 100%;
}

.collection__card.popular::after {
  background-color: var(--color-yellow);
  border-radius: 1000em;
  color: var(--color-neutral-900);
  content: "Popular";
  display: block;
  font-size: var(--font-size-label);
  font-weight: 600;
  height: auto;
  left: 1em;
  padding: 0.125em 0.5em;
  position: absolute;
  top: 1em;
  width: auto;
}

h2 {
  font-size: var(--font-size-body);
  margin: 0;
}

.card__price {
  background-color: var(--color-green);
  border-radius: 0.25em;
  color: var(--color-neutral-900);
  font-size: var(--font-size-price);
  font-weight: 600;
  padding: 0.25em 0.5em;
}

.card__rating {
  margin-inline-start: 0.25em;
  padding-block-start: 0.125em;
}

.card__ratings {
  color: var(--color-neutral-500);
  font-size: var(--font-size-label);
  font-weight: 600;
}

.card__sold-out {
  color: var(--color-red);
  font-size: var(--font-size-label);
  font-weight: 600;
}

@media (max-width: 70em) {
  .container {
    max-width: 50em;
  }

  .collection {
    background-position: top 4em left 75%;
  }
}

@media (max-width: 42em) {
  .container {
    max-width: 25em;
  }

  .collection {
    background-position: top 4em right -3.75em;
    padding-inline: 2em;
  }
}
