@font-face {
  font-family: "Inter";
  src: url("./Inter-VariableFont_slnt_wght.ttf");
}

:root {
  --color-neutral-100: hsl(220, 13%, 91%);
  --color-neutral-500: hsl(240, 4%, 65%);
  --color-neutral-600: hsl(217, 12%, 34%);
  --color-neutral-700: hsl(219, 17%, 27%);
  --color-neutral-800: hsl(217, 24%, 17%);
  --color-neutral-900: hsl(222, 36%, 11%);

  --color-purple-light: hsl(256, 81%, 65%);
  --color-purple-dark: hsl(261, 65%, 50%);

  --ff-sans-serif: "Inter", system-ui, sans-serif;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.25rem;
}

/*RESET*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/*RESET ENDS*/

.sr-only {
  aspect-ratio: 1;
  height: 1px;
  position: absolute;
  left: -1000vw;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}
.flex {
  align-items: center;
  display: flex;
  gap: var(--gap, 1rem);
  flex-wrap: wrap;
}

.white {
  color: var(--color-neutral-100);
}
.dark-grey {
  color: var(--color-neutral-700);
}
.grey {
  color: var(--color-neutral-500);
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}

body {
  background-color: var(--color-neutral-900);
  background-image: url("./blur-radial.svg"), url("./blur-radial.svg");
  background-size: 80dvw;
  background-repeat: no-repeat;
  background-position: top -40dvw left -30dvw, bottom -40dvw right -30dvw;
  font-family: var(--ff-sans-serif);
  font-size: var(--fs-300);
  font-weight: 400;
  display: grid;
  min-height: 100dvh;
  place-items: center;
}

@media (max-width: 40em) {
  body {
    background-size: 110dvw;
    background-position: top -25dvw left -40dvw, bottom -25dvw right -40dvw;
  }
}

.container {
  margin-inline: auto;
  max-width: 38em;
  padding: 1rem;
  width: 80dvw;
}

form {
  background-color: var(--color-neutral-800);
  border: 1px solid var(--color-neutral-600);
  border-radius: 1rem;
  grid-template-rows: 1fr auto;
  min-height: 25em;
  padding: 2rem;
}

@media (max-width: 25em) {
  .container {
    width: 100vw;
  }

  form {
    min-height: 30em;
  }
}

h2,
h3 {
  font-weight: inherit;
}

label {
  --gap: 0.5rem;
}

.form__step {
  display: none;

  &.current {
    display: grid;
  }
}

.form__step#step1 {
  --gap: 2rem;
}

.form__step#step2 {
  grid-template-rows: auto 1fr auto;
}

.form__error {
  color: hsl(0, 100%, 64%);
  visibility: hidden;
}

.form__error.show {
  visibility: visible;
}

.custom-input {
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.75rem;
  color: inherit;
  padding: 1rem;
}

fieldset {
  border: 0;
  padding: 0;
}

fieldset > .custom-input {
  background-color: var(--color-neutral-700);
  color: var(--color-neutral-500);
  cursor: pointer;
  position: relative;

  & > input {
    position: absolute;
    left: 50%;
    opacity: 0;
  }

  &:hover,
  &:has(> :focus-visible) {
    border-color: var(--color-purple-light);
    color: var(--color-neutral-100);
  }

  &:has(> :checked) {
    background-color: var(--color-purple-dark);
    border-color: var(--color-purple-light);
    color: var(--color-neutral-100);
  }
}

.form__error#topics-error {
  padding-inline-start: 0.5rem;
}

.form__step#step3 > ul {
  list-style-position: inside;
  padding: 0;
}

.form__button {
  background-image: linear-gradient(
    var(--color-purple-light),
    var(--color-purple-dark)
  );
  border: 0;
  border-radius: 10000em;
  color: var(--color-neutral-100);
  cursor: pointer;
  display: block;
  width: fit-content;
  margin: 2rem auto 0 auto;
  padding: 0.75rem 2rem;
}

.pagination-wrapper {
  align-items: center;
  gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.pagination__dot {
  align-items: center;
  aspect-ratio: 1;
  background-color: var(--color-neutral-600);
  border-radius: 50%;
  height: 0.7rem;
}

.pagination__dot.filled {
  background-color: var(--color-purple-dark);
}

.pagination__dot.current {
  box-shadow: 0 0 0 0.35rem hsl(256 81% 65% / 0.33);
}
