@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(./Lato-Bold.ttf);
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  src: url(./Lato-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  font-weight: 600;
  src: url(./Poppins-SemiBold.ttf);
}

img {
  display: block;
  max-width: 100%;
}

body {
  display: grid;
  margin: 0;
  min-height: 100dvh;
  place-content: center;
}

.card {
  border-radius: 1em;
  max-width: 418px;
}

.card__image-wrapper {
  display: grid;
}

.card__image-wrapper > img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.card__image-wrapper > img:first-of-type {
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}
.card__image-wrapper > img:last-of-type {
  margin-block: auto -1px;
  z-index: 1000;
}
